[run]
omit =
    tktooltip/__init__.py
    tktooltip/version.py
    tktooltip/_version.py
    tktooltip/demo.py

# concurrency = multiprocessing
# parallel = true
# sigterm = true

[html]
show_contexts = True
